<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eKarte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eKarte</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropDown" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">

                                <a class="dropdown-item " asp-area="Admin" asp-controller="TipOsoblja" asp-action="Index">Tip Osoblja</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Osoblje" asp-action="Index">Osoblje</a>


                                <a class="dropdown-item " asp-area="Admin" asp-controller="Drzava" asp-action="Index">Drzava</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Grad" asp-action="Index">Grad</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Kompanija" asp-action="Index">Kompanija</a>

                                <a class="dropdown-item " asp-area="Admin" asp-controller="Aerodrom" asp-action="Index">Aerodrom</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Avion" asp-action="Index">Avion</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Let" asp-action="Index">Letovi</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="KlasaAvioKarte" asp-action="Index">Klase Karte</a>


                                <a class="dropdown-item " asp-area="Admin" asp-controller="Stanica" asp-action="Index">Stanice</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="TipBusa" asp-action="Index">Tip busa</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Bus" asp-action="Index">Bus</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="Linija" asp-action="Index">Linija</a>
                                <a class="dropdown-item " asp-area="Admin" asp-controller="VrstaKarte" asp-action="Index">Vrsta Karte</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - eKarte - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script src="https://cdn.tiny.cloud/1/horqplxj2miqz1qpqj490qiy35aqixccxc3mbhgkylq52wgz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
