@model eKarte.Models.Kompanija

@{
    var title = "Dodaj kompaniju";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">
    <br />
    <div class=" container">
        <div class="row px-2 mx-2 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
                title = "Edit kompanije";
            }

            <div class="col-12">
                <h2 class="text-primary">@title</h2>
                <br />
            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Naziv"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Naziv" class="form-control" />
                        <span asp-validation-for="Naziv" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Adresa"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Adresa" class="form-control" />
                        <span asp-validation-for="Adresa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Telefon"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Telefon" class="form-control" />
                        <span asp-validation-for="Telefon" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4">
                        @if (Model.Id != 0)
                        {

                            <partial name="_EditAndBackToListButton" model="Model.Id" />
                        }
                        else
                        {

                            <partial name="_CreateAndBackToListButton" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
