@model eKarte.Models.ViewModels.StanicaLinijaViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form method="post" asp-action="Upsert">

    <div class="border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">
            <h2 class="text-primary">@Model.Linija.Naziv</h2>
            <h4 class="text-primary">Unesite Stajališta</h4>
            <br />
        </div>
       
        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DolazakaVrijeme"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DolazakaVrijeme" class="form-control" />
                    <span asp-validation-for="DolazakaVrijeme" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StanicaId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.StanicaId, Model.StanicaLista,
                                            "- Unesite stanicu -", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        </div>
                        <div class="col">
                            <a asp-controller="Linija" asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</form>
<br />
<br />
<div class="border ">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Stajališta</h2>

        </div>

    </div>
    <br />
    <br />
    <table id="tblData" class=" table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Grad</th>
                <th>Adresa</th>
                <th>Telefon</th>
                <th>Naziv</th>
                <th>Vrijeme dolaska</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/stanicalinijadodaj.js"></script>
}